body {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.task-title {
  color: tomato;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .task-list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.task-list__link {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

/* ========================================= TASK NO.3 ========================================*/
#gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  column-gap: 10px;
  list-style: none;
}

.js-gallery__item {
  display: grid;
  align-items: center;
  justify-content: center;
}

.js-gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* ========================================= TASK NO.4 ========================================*/
#counter button {
  width: 60px;
  height: 30px;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

#value {
  font-size: 2em;
  font-weight: 700;
  vertical-align: middle;
}

/* ========================================= TASK NO.6 ========================================*/
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
